body {
	font-size: 10px; 
	font-family : "Helvetica Neue",Helvetica,Arial,sans-serif;
}

div {
	/* margin-left: 8px; */
}

#this_month {
	font-size: 12px;
}

.title {
	font-weight: bold;
}

.dates {
	font-weight: normal;
}

#this_month_bandwidth {
	font-size: 12px;
	margin-top: -30px;
}

#last_updated {
	position: absolute;
	bottom: 7px;
	left: 15px;
	padding-top:5px;
	font-size: 9px;
}

#last_updated_intro {
	font-weight:bold;
}

.emphasis {
	font-weight:bold;
}

input {
	text-align: center;
}

#doneButton {
	position: absolute;
	top: 117px;
	right: 10px;
}
#doneButton div {
	margin-left: 0;
}

#front {
	background: url(__MSG_title_image__) no-repeat top left;
	width: 408px;
	height: 193px;
	padding-top: 55px;
}

#limitTypeDiv, #limitTotalDiv, #limitDifferentDiv {
	margin-top: 8px;
}

.inputText {
	width: 390px;
	text-align: right;
}

#needs_config, #loading {
	display: none;
	position: relative;
	text-align: center;
	left: -10px;
	font-size: 12px;
}

#this_month_meter_1 {
	height:29px;
}

.meter_start {
	background-color: #F0F;
	position: relative;
	display: block;
	height: 10px;
	top: -12px;
	z-index: 9;
}

.meter_end {
	background-color: #FFFFFF;
	position: relative;
	display: block;
	height: 10px;
	top: -22px;
	z-index: 9;
}

.meter_text {
	font-size: 10px; 
	font-family : "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #000000;
	position: relative;
	top: -36px;
	left: 2px;
	z-index: 10;
}

.meter_percentage {
	top: -36px;
	z-index: 11;
}

.progress {
	width: 370px;
	margin-left:16px;
}

.loader {
	margin-bottom: 4px;
}

#this_month .title, #this_month #this_month_down, #this_month_bandwidth {
	margin-left: 16px;
	
}

span.nowbw {
	font-weight: bold;
}
span.nowbw.pos {
	color: #01B200;
}
span.nowbw.neg {
	color: #FF0900;
}
